Repository projectnessie/nessie, pull requests merged in 2021-09, with the labels that each got.

#1910 Run all quarkus tests in the same JVM.
  servers/quarkus-server/pom.xml
Labels: java, pr-native, pr-jackson

#1967 Bump Quarkus to 2.2.3.Final
  pom.xml
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/QuarkusServerConfig.java
Labels: pr-native

#1922 Global-states: API changes (non-intrusive)
  model/src/main/java/org/projectnessie/api/http/HttpContentsApi.java
  model/src/main/java/org/projectnessie/api/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/model/IcebergTable.java
  model/src/main/java/org/projectnessie/model/Operation.java
  servers/services/src/main/java/org/projectnessie/services/rest/TreeResourceWithAuthorizationChecks.java
  versioned/spi/src/main/java/org/projectnessie/versioned/Put.java
Labels: pr-native

#1965 Restructure Spark docs into Iceberg client docs and delta lake client docs
  site/docs/develop/python.md
  site/docs/tools/_config
  site/docs/tools/deltalake/_config
  site/docs/tools/deltalake/index.md
  site/docs/tools/deltalake/spark.md
  site/docs/tools/iceberg/_config
  site/docs/tools/iceberg/index.md
  site/docs/tools/iceberg/spark.md
  site/docs/tools/index.md
  site/docs/try/docker.md
Labels: documentation

#2009 Make error handling more robust in python client
  python/pynessie/error.py
  python/tests/cassettes/test_nessie_cli_error/test_server_error_html.yaml
  python/tests/cassettes/test_nessie_cli_error/test_server_error_json.yaml
  python/tests/test_nessie_cli_error.py
Labels: python

#2012 Report JSON payload of error responses to the caller
  clients/client/src/main/java/org/projectnessie/client/rest/ResponseCheckFilter.java
  clients/client/src/test/java/org/projectnessie/client/rest/TestResponseFilter.java
Labels: java, pr-native, pr-jackson

#2011 APIv1: remove old Nessie API
  clients/client/src/main/java/org/projectnessie/client/NessieClient.java
  clients/client/src/main/java/org/projectnessie/client/NessieClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/StreamingUtil.java
  clients/client/src/main/java/org/projectnessie/client/api/NessieApiVersion.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  clients/client/src/test/java/org/projectnessie/client/TestNessieHttpClient.java
  clients/deltalake/src/main/scala/org/projectnessie/deltalake/NessieLogStore.scala
  model/src/main/java/org/projectnessie/api/ConfigApi.java
  model/src/main/java/org/projectnessie/api/ContentsApi.java
  model/src/main/java/org/projectnessie/api/TreeApi.java
  model/src/main/java/org/projectnessie/api/http/HttpConfigApi.java
  model/src/main/java/org/projectnessie/api/http/HttpContentsApi.java
  model/src/main/java/org/projectnessie/api/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/params/CommitLogParams.java
  model/src/main/java/org/projectnessie/api/params/EntriesParams.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/TestJerseyRest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/AbstractTestBasicOperations.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/BaseClientAuthTest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeRest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestAuthorizationRules.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestBasicAuthentication.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestDisabledAuthentication.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestOpenIdAuthentication.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestRest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/error/ITNativeNessieError.java
Labels: pr-native, pr-jackson

#1923 Prepare code for global-states
  clients/spark-extensions/src/test/java/org/projectnessie/spark/extensions/ITNessieStatements.java
  model/src/main/java/org/projectnessie/model/IcebergTable.java
  perftest/simulations/src/test/scala/org/projectnessie/perftest/gatling/CommitToBranchSimulation.scala
  python/pynessie/model.py
  python/tests/cassettes/test_nessie_cli/test_assign.yaml
  python/tests/cassettes/test_nessie_cli/test_contents_listing.yaml
  python/tests/cassettes/test_nessie_cli/test_log.yaml
  python/tests/cassettes/test_nessie_cli/test_merge.yaml
  python/tests/cassettes/test_nessie_cli/test_ref.yaml
  python/tests/cassettes/test_nessie_cli/test_tag.yaml
  python/tests/cassettes/test_nessie_cli/test_transplant.yaml
  python/tests/cassettes/test_nessie_client/test_client_interface_e2e.yaml
  python/tests/test_nessie_cli.py
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractResteasyTest.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/error/ErrorTestService.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/error/ITNativeNessieError.java
  servers/services/src/main/java/org/projectnessie/services/rest/TreeResource.java
  servers/store/src/main/java/org/projectnessie/server/store/TableCommitMetaStoreWorker.java
  servers/store/src/main/proto/table.proto
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  versioned/gc/iceberg-actions/pom.xml
  versioned/gc/iceberg/pom.xml
  versioned/gc/iceberg/src/test/java/org/projectnessie/versioned/gc/ITIcebergAssetKeyReader.java
  versioned/jgit/src/test/java/org/projectnessie/versioned/jgit/AbstractITJGitVersionStore.java
  versioned/jgit/src/test/java/org/projectnessie/versioned/jgit/ITJGitInMemoryVersionStore.java
  versioned/jgit/src/test/java/org/projectnessie/versioned/jgit/ITJGitOnDiskVersionStore.java
  versioned/jgit/src/test/java/org/projectnessie/versioned/jgit/TestJGitVersionStore.java
  versioned/jgit/src/test/java/org/projectnessie/versioned/jgit/TestTreeBuilder.java
  versioned/memory/src/main/java/org/projectnessie/versioned/memory/InMemoryVersionStore.java
  versioned/memory/src/test/java/org/projectnessie/versioned/memory/ITInMemoryVersionStore.java
  versioned/spi/src/main/java/org/projectnessie/versioned/SerializerWithPayload.java
  versioned/spi/src/main/java/org/projectnessie/versioned/StoreWorker.java
  versioned/tests/src/main/java/org/projectnessie/versioned/StringSerializer.java
  versioned/tests/src/main/java/org/projectnessie/versioned/StringStoreWorker.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractITVersionStore.java
  versioned/tiered/dynamodb/src/test/java/org/projectnessie/versioned/impl/ITDynamoVersionStore.java
  versioned/tiered/gc/pom.xml
  versioned/tiered/gc/src/test/java/org/projectnessie/versioned/tiered/gc/ITTestIdentifyUnreferencedAssets.java
  versioned/tiered/mongodb/src/test/java/org/projectnessie/versioned/mongodb/TestMongoDBVersionStore.java
  versioned/tiered/tiered-tests/src/main/java/org/projectnessie/versioned/impl/AbstractITTieredVersionStore.java
  versioned/tiered/tiered-tests/src/main/java/org/projectnessie/versioned/impl/AbstractTieredStoreFixture.java
Labels: pr-native, pr-jackson

#2021 Make Nessie build w/ Java 16 + 17, update `CONTRIBUTING.md`
  CONTRIBUTING.md
  clients/deltalake/pom.xml
  clients/spark-extensions/pom.xml
  versioned/gc/spark/pom.xml
  versioned/tiered/gc/pom.xml
Labels: pr-native, pr-jackson

#2006 Jackson tests for model classes
  clients/client/pom.xml
  clients/client/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
Labels: pr-jackson

#2081 Split PR workflow into three
  .github/workflows/pull-request-jackson.yml
  .github/workflows/pull-request-native.yml
  .github/workflows/pull-request.yml
Labels: pr-native, pr-jackson

#2107 Speed up main ci
  .github/workflows/main.yml
  .github/workflows/pull-request-native.yml
Labels: pr-native

#2109 Disable global state assertion in AbstractConcurrency
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractConcurrency.java
Labels: java

#2028 Fix Spark Delta Lakes links and other improvements in docs
  site/docs/tools/deltalake/spark.md
  site/docs/tools/index.md
  site/docs/try/index.md
Labels: documentation

#2164 Move default Nessie URI init to AbstractTestRest
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyRest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeRestApiDynamo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeRestApiInMemory.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeRestApiRocks.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestRestApiDynamo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestRestApiInMemory.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestRestApiRocks.java
Labels: java, pr-native

#2147 Prefer explict args over env. vars in python CLI
  python/pynessie/conf/config_parser.py
  python/tests/test_config_parser.py
Labels: python

#2149 Add MongoDB Version Store to Quarkus Server
  servers/jax-rs-tests/pom.xml
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/TestJerseyRestMongo.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/TestJerseyResteasyMongo.java
  servers/jax-rs/pom.xml
  servers/quarkus-server/pom.xml
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/VersionStoreConfig.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/MongoVersionStoreFactory.java
  servers/quarkus-server/src/main/resources/application.properties
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeRestApiMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeResteasyMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestRestApiMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestResteasyMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/profiles/MongoTestResourceLifecycleManager.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/profiles/QuarkusNativeProfileMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/profiles/QuarkusTestProfileMongo.java
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoClientConfig.java
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoDatabaseClient.java
Labels: pr-native

#2196 Declare classes for Quarkus reflection via annotation
  servers/lambda/src/main/resources/reflection-config.json
  servers/quarkus-server/src/main/java/org/projectnessie/server/relect/ModelReflections.java
  servers/quarkus-server/src/main/resources/application.properties
  servers/quarkus-server/src/main/resources/reflection-config.json
Labels: java, pr-native, pr-jackson
