Repository projectnessie/nessie, pull requests merged in 2021-10, with the labels that each got.

#2177 Update ReadMe, Site docs and fix broken links
  README.md
  site/docs/features/index.md
  site/docs/features/intro.md
  site/docs/features/management.md
  site/docs/tools/deltalake/index.md
  site/docs/tools/iceberg/spark.md
Labels: documentation

#2221 Support AWS auth profiles in python
  python/pynessie/auth/aws.py
  python/pynessie/auth/config.py
  python/pynessie/conf/config_default.yaml
  python/tests/test_nessie_auth.py
Labels: python

#2242 Support AWS auth profiles in java client
  clients/client/src/main/java/org/projectnessie/client/NessieConfigConstants.java
  clients/client/src/main/java/org/projectnessie/client/auth/AwsAuthenticationProvider.java
  clients/client/src/test/java/org/projectnessie/client/auth/TestAwsAuthProvider.java
Labels: java
