Repository projectnessie/nessie, pull requests merged in 2021-08, with the labels that each got.

#1731 Force Locale.ENGLISH as default in REST tests
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
Labels: pr-jackson

#1737 Pass HTTP_LOG_LEVEL env to native-quarkus-tests
  servers/quarkus-server/pom.xml
Labels: pr-native

#1746 Move Swagger examples to openapi.yaml
  model/src/main/java/org/projectnessie/api/package-info.java
  model/src/main/resources/META-INF/openapi.yaml
Labels: java, REST api, pr-jackson

#1753 Set Nessie Open API version from project.version
  model/pom.xml
  model/src/main/resources/META-INF/openapi.yaml
Labels: java, REST api, pr-native, pr-jackson

#1755 Adjust examples to allow for 200 reposes where possible
  model/src/main/java/org/projectnessie/api/ContentsApi.java
  model/src/main/java/org/projectnessie/api/TreeApi.java
  model/src/main/java/org/projectnessie/api/params/CommitLogParams.java
  model/src/main/java/org/projectnessie/api/params/EntriesParams.java
  model/src/main/resources/META-INF/openapi.yaml
Labels: java, REST api, pr-jackson

#1769 Add TestBasicAuthentication
  servers/quarkus-server/src/test/java/org/projectnessie/server/BaseClientAuthTest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestAuthorizationRules.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestBasicAuthentication.java
Labels: java, REST api, pr-jackson

#1770 Rename TestAuth to TestBasicOperations
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITNativeBasicOperations.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestBasicOperations.java
Labels: java, REST api, pr-native, pr-jackson

#1796 Remove remainders of Hive
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  model/src/main/java/org/projectnessie/model/Contents.java
  model/src/main/java/org/projectnessie/model/HiveDatabase.java
  model/src/main/java/org/projectnessie/model/HiveTable.java
  model/src/main/java/org/projectnessie/model/SqlView.java
  python/tests/cassettes/test_nessie_cli/test_contents_listing.yaml
  python/tests/test_nessie_cli.py
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/store/src/main/java/org/projectnessie/server/store/TableCommitMetaStoreWorker.java
  servers/store/src/main/proto/table.proto
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  site/mkdocs.yml
Labels: pr-jackson

#1827 Give native image build more heap memory
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-publish.yml
Labels: pr-native

#1871 Remove @Startup init from NessieHttpAuthenticator
  servers/quarkus-server/src/main/java/org/projectnessie/server/authn/NessieHttpAuthenticator.java
Labels: java, pr-native

#1863 Support bearer auth in python client
  python/docs/main.rst
  python/pynessie/_endpoints.py
  python/pynessie/auth/__init__.py
  python/pynessie/auth/aws.py
  python/pynessie/auth/basic.py
  python/pynessie/auth/bearer.py
  python/pynessie/auth/config.py
  python/pynessie/cli.py
  python/pynessie/conf/config_default.yaml
  python/pynessie/nessie_client.py
  python/setup.cfg
  python/tests/cassettes/test_nessie_cli_auth/test_bearer_auth.yaml
  python/tests/cassettes/test_nessie_cli_auth/test_bearer_auth_invalid.yaml
  python/tests/test_nessie_auth.py
  python/tests/test_nessie_cli_auth.py
Labels: python
