Repository projectnessie/nessie, pull requests merged in 2021-11, with the labels that each got.

#2534 Cleanup `DatabaseAdapterFactory`/`VersionStore` factory/producer code
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/ConfigurableVersionStoreFactory.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/DatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/DynamoDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/InmemoryDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/MongoDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/MongoVersionStoreFactory.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/QuarkusInmemoryStore.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/QuarkusRocksDbInstance.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/RocksDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/StoreType.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/VersionStoreFactory.java
Labels: pr-native

#2474 Disable MongoDB devservices
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native

#2471 Bump Quarkus version from 2.4.0.Final to 2.4.1.Final
  pom.xml
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/QuarkusNessieAuthenticationConfig.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/QuarkusNessieAuthorizationConfig.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/QuarkusServerConfig.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/QuarkusVersionStoreAdvancedConfig.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/config/VersionStoreConfig.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/DynamoDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/InmemoryDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/MongoDatabaseAdapterBuilder.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/RocksDatabaseAdapterBuilder.java
Labels: pr-native, pr-jackson

#2625 UI: Move webpack-dev-server + couple plugins + build packages to dev-dependencies
  ui/package-lock.json
  ui/package.json
Labels: ui
