Repository projectnessie/nessie, pull requests merged in 2022-10, with the labels that each got.

#5317 Revert protobuf to 3.21.6
  gradle/libs.versions.toml
Labels: pr-native

#5338 DynamoDB related test changes
  buildSrc/src/main/kotlin/nessie-conventions.gradle.kts
  servers/quarkus-server/src/main/resources/application.properties
  versioned/persist/dynamodb-test/src/main/java/org/projectnessie/versioned/persist/dynamodb/LocalDynamoTestConnectionProviderSource.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyKeys.java
Labels: pr-native

#5354 Remove httpClient param from AbstractRest.init
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/TestJerseyRestNaiveClientInMemory.java
Labels: pr-native

#5227 Nessie GC: Command line tool
  .github/workflows/release-publish.yml
  bom/build.gradle.kts
  gc/gc-base/src/main/java/org/projectnessie/gc/identify/CutoffPolicy.java
  gc/gc-base/src/main/java/org/projectnessie/gc/identify/NoneCutoffPolicy.java
  gc/gc-base/src/main/java/org/projectnessie/gc/identify/NumCommitsCutoffPolicy.java
  gc/gc-base/src/main/java/org/projectnessie/gc/identify/TimestampCutoffPolicy.java
  gc/gc-tool-inttest/build.gradle.kts
  gc/gc-tool-inttest/src/test/java/org/projectnessie/gc/tool/inttest/ITSparkIcebergNessieCLI.java
  gc/gc-tool/build.gradle.kts
  gc/gc-tool/src/exec/exec-preamble.sh
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/CLI.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/Closeables.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/NessieVersionProvider.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/BaseCommand.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/BaseLiveSetCommand.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/BaseRepositoryCommand.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/CompletionScript.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/DeferredDeleteFiles.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/DeleteLiveSets.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/JdbcCreateSchema.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/JdbcDumpSchema.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/ListDeferredDeletions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/ListLiveSets.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/MarkAndSweep.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/MarkLive.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/ShowLiveSet.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/commands/Sweep.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/EnvironmentDefaultProvider.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/IcebergOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/JdbcOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/LiveContentSetsStorageOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/LiveSetIdOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/MarkOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/NessieOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/options/SweepOptions.java
  gc/gc-tool/src/main/java/org/projectnessie/gc/tool/cli/util/RunCLI.java
  gc/gc-tool/src/main/resources/logback.xml
  gc/gc-tool/src/main/resources/org/projectnessie/gc/tool/cli/version.properties
  gc/gc-tool/src/test/java/org/projectnessie/gc/tool/TestCLI.java
  gc/gc-tool/src/test/java/org/projectnessie/gc/tool/cli/commands/TestMarkOptions.java
  gradle/projects.iceberg.properties
Labels: pr-integrations

#5280 Java 11 HttpClient
  clients/client/build.gradle.kts
  clients/client/src/main/java/org/projectnessie/client/NessieConfigConstants.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/BaseHttpRequest.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/HttpRuntimeConfig.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/RequestContextImpl.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk11/JavaHttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk11/JavaRequest.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk11/JavaResponseContext.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk8/UrlConnectionClient.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk8/UrlConnectionRequest.java
  clients/client/src/test/java/org/projectnessie/client/http/TestHttpClient.java
  clients/client/src/test/java/org/projectnessie/client/http/TestHttpsClient.java
  clients/client/src/test/java/org/projectnessie/client/util/HttpTestServer.java
  clients/client/src/test/resources/logback-test.xml
  gradle/libs.versions.toml
  site/docs/tools/_config
  site/docs/tools/auth_config.md
  site/docs/tools/client_config.md
  tools/content-generator/build.gradle.kts
Labels: pr-native, pr-integrations

#5408 Build UI against Nessie API v1 from 0.44.0
  ui/build.gradle.kts
  ui/package.json
  ui/src/openapi/nessie-openapi-0.44.0.yaml
Labels: pr-native, pr-integrations

#5412 Extract service-side interfaces for client-facing services
  model/src/main/java/org/projectnessie/model/BaseMergeTransplant.java
  model/src/main/java/org/projectnessie/model/MergeBehavior.java
  model/src/main/java/org/projectnessie/model/MergeKeyBehavior.java
  model/src/main/java/org/projectnessie/model/MergeResponse.java
  model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestMergeTransplant.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestContentResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestDiffResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestTreeResource.java
  servers/services/src/main/java/org/projectnessie/services/impl/ConfigApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/ContentApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/ContentApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/impl/DiffApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/DiffApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/spi/ConfigService.java
  servers/services/src/main/java/org/projectnessie/services/spi/ContentService.java
  servers/services/src/main/java/org/projectnessie/services/spi/DiffService.java
  servers/services/src/main/java/org/projectnessie/services/spi/TreeService.java
Labels: pr-native, pr-integrations

#5411 Extract common java client builder code
  clients/client/src/main/java/org/projectnessie/client/builder/BaseAssignBranchBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseAssignTagBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseCommitMultipleOperationsBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseCreateNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseCreateReferenceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseDeleteNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetAllReferencesBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetCommitLogBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetContentBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetDiffBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetEntriesBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetMultipleNamespacesBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetRefLogBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetReferenceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseMergeReferenceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseMergeTransplantBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseOnBranchBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseOnReferenceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseOnTagBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseTransplantCommitsBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseUpdateNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpAssignBranch.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpAssignTag.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpCommitMultipleOperations.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpCreateNamespace.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpCreateReference.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpDeleteBranch.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpDeleteNamespace.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpDeleteTag.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetAllReferences.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetCommitLog.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetContent.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetDiff.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetEntries.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetMultipleNamespaces.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetNamespace.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetRefLog.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetReference.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpMergeReference.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpTransplantCommits.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpUpdateNamespace.java
Labels: pr-native, pr-integrations

#5418 Extract service-side interfaces for RefLog and Namespace services
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestNamespaceResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestRefLogResource.java
  servers/services/src/main/java/org/projectnessie/services/impl/NamespaceApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefLogApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefLogApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/spi/NamespaceService.java
  servers/services/src/main/java/org/projectnessie/services/spi/RefLogService.java
  servers/services/src/test/java/org/projectnessie/services/impl/NamespaceApiTest.java
Labels: pr-native, pr-integrations
