Repository projectnessie/nessie, pull requests merged in 2022-12, with the labels that each got.

#5596 Fix v2 URL path mapping for getReferenceByName
  model/src/main/java/org/projectnessie/api/v2/params/GetReferenceParams.java
  model/src/main/java/org/projectnessie/model/Validation.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractResteasyV2Test.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITResteasyV2InMemory.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestV2TreeResource.java
Labels: pr-native, pr-integrations

#5605 Switch to OpenTelemetry in Nessie Quarkus server
  gradle/libs.versions.toml
  servers/quarkus-server/build.gradle.kts
  servers/quarkus-server/src/main/java/org/projectnessie/server/opentelemetry/MicrometerSupport.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/opentelemetry/OpenTracingSupport.java
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native

#5607 Switch nessie-client to use OpenTelemetry
  clients/client/build.gradle.kts
  clients/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/OpentelemetryTracing.java
  clients/client/src/test/java/org/projectnessie/client/TestNessieHttpClient.java
  clients/client/src/test/java/org/projectnessie/client/util/JaegerTestTracer.java
  gradle/libs.versions.toml
Labels: pr-native, pr-integrations

#5661 Move Graal/native registration to nessie-quarkus-common
  servers/quarkus-common/build.gradle.kts
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/graal/RocksSubstitutions.java
  versioned/persist/rocks/build.gradle.kts
Labels: pr-native, pr-integrations

#5662 Replace deprecated native build parameters
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native, pr-integrations

#5452 Add pagination params to the Diff API v2
  clients/client/src/main/java/org/projectnessie/client/api/GetDiffBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseGetDiffBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetDiff.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpGetDiff.java
  clients/client/src/test/java/org/projectnessie/client/http/v1api/TestHttpGetDiff.java
  model/src/main/java/org/projectnessie/api/v2/params/DiffParams.java
  model/src/main/java/org/projectnessie/model/DiffResponse.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractRestDiff.java
Labels: pr-native, pr-integrations

#5682 Expose MergeBehavior to java clients
  clients/client/src/main/java/org/projectnessie/client/api/MergeTransplantBuilder.java
  clients/client/src/main/java/org/projectnessie/client/builder/BaseMergeTransplantBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpMergeReference.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpTransplantCommits.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpMergeReference.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpTransplantCommits.java
  compatibility/compatibility-tests/src/test/java/org/projectnessie/tools/compatibility/tests/AbstractCompatibilityTests.java
  compatibility/compatibility-tests/src/test/java/org/projectnessie/tools/compatibility/tests/ITOlderClients.java
  compatibility/compatibility-tests/src/test/java/org/projectnessie/tools/compatibility/tests/ITOlderServers.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractRestMergeTransplant.java
Labels: pr-native, pr-integrations

#5670 Expose updated reference data in java client APIs
  clients/client/src/main/java/org/projectnessie/client/api/AssignBranchBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/AssignTagBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/DeleteBranchBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/DeleteTagBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpAssignBranch.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpAssignTag.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpDeleteBranch.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpDeleteTag.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpAssignBranch.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpAssignTag.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpDeleteBranch.java
  clients/client/src/main/java/org/projectnessie/client/http/v2api/HttpDeleteTag.java
  clients/client/src/test/java/org/projectnessie/client/http/v1api/TestHttpAssignBranch.java
  clients/client/src/test/java/org/projectnessie/client/http/v1api/TestHttpAssignTag.java
  clients/client/src/test/java/org/projectnessie/client/http/v1api/TestHttpDeleteBranch.java
  clients/client/src/test/java/org/projectnessie/client/http/v1api/TestHttpDeleteTag.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractRest.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractRestAssign.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractRestReferences.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestV2TreeResource.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/spi/TreeService.java
Labels: pr-native, pr-integrations

#5704 Remove legacy Spark extensions
  bom/build.gradle.kts
  buildSrc/src/main/kotlin/Utilities.kt
  nessie-iceberg/settings.gradle.kts
  settings.gradle.kts
Labels: pr-integrations

#5706 Add v2 attributes to `CommitMeta`
  clients/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/BaseHttpRequest.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/HttpRuntimeConfig.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/TranslatingVersionNessieApi.java
  model/src/main/java/org/projectnessie/api/v1/ApiAttributesV1.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/v2/ApiAttributesV2.java
  model/src/main/java/org/projectnessie/api/v2/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/model/CommitMeta.java
  model/src/main/java/org/projectnessie/model/ser/CommitMetaDeserializer.java
  model/src/main/java/org/projectnessie/model/ser/CommitMetaSer.java
  model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  model/src/test/java/org/projectnessie/model/ser/TestCommitMetaDeserializer.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractResteasyV1Test.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractResteasyV2Test.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestTreeResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestV2TreeResource.java
  versioned/spi/src/main/java/org/projectnessie/versioned/CommitMetaSerializer.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestCommitMetaSerializer.java
  versioned/transfer/src/test/java/org/projectnessie/versioned/transfer/ExportImportTestUtil.java
Labels: pr-native, pr-integrations

#5732 Make generated OpenAPI type names more readable
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/TranslatingVersionNessieApi.java
  model/src/main/java/org/projectnessie/api/v1/ApiAttributesV1.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/v2/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/model/CommitMeta.java
  model/src/main/java/org/projectnessie/model/ser/Views.java
  model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  model/src/test/java/org/projectnessie/model/ser/TestCommitMetaDeserializer.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestTreeResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestV2TreeResource.java
  versioned/spi/src/main/java/org/projectnessie/versioned/CommitMetaSerializer.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestCommitMetaSerializer.java
  versioned/transfer/src/test/java/org/projectnessie/versioned/transfer/ExportImportTestUtil.java
Labels: pr-native, pr-integrations

#5740 Add validation annotations to backend service interfaces
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/AbstractRestInvalid.java
  servers/services/src/main/java/org/projectnessie/services/spi/ContentService.java
  servers/services/src/main/java/org/projectnessie/services/spi/DiffService.java
  servers/services/src/main/java/org/projectnessie/services/spi/RefLogService.java
  servers/services/src/main/java/org/projectnessie/services/spi/TreeService.java
Labels: pr-native, pr-integrations
