Repository projectnessie/nessie, pull requests merged in 2022-01, with the labels that each got.

#3061 Cleanup HttpClient
  clients/client/src/main/java/org/projectnessie/client/NessieConfigConstants.java
  clients/client/src/main/java/org/projectnessie/client/auth/AwsAuthenticationProvider.java
  clients/client/src/main/java/org/projectnessie/client/auth/BasicAuthenticationProvider.java
  clients/client/src/main/java/org/projectnessie/client/auth/BearerAuthenticationProvider.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpAuthentication.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpRequest.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpResponse.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpRuntimeConfig.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpUtils.java
  clients/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/ResponseContextImpl.java
  clients/client/src/test/java/org/projectnessie/client/auth/TestAwsAuthProvider.java
  clients/client/src/test/java/org/projectnessie/client/auth/TestBasicAuthProvider.java
  clients/client/src/test/java/org/projectnessie/client/auth/TestBearerAuthenticationProvider.java
  clients/client/src/test/java/org/projectnessie/client/http/TestHttpClient.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/TestJerseyRestNaiveClientInMemory.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/error/TestNessieError.java
Labels: pr-native, pr-jackson

#3062 Allow HTTP request/response compression
  clients/client/src/main/java/org/projectnessie/client/NessieConfigConstants.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpRequest.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpRuntimeConfig.java
  clients/client/src/main/java/org/projectnessie/client/http/ResponseContextImpl.java
  clients/client/src/test/java/org/projectnessie/client/http/TestHttpClient.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
Labels: pr-native, pr-jackson

#3073 Support nested tests in NessieJaxRsExtension
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieUri.java
  servers/jax-rs-testextension/src/test/java/org/projectnessie/jaxrs/ext/TestNessieJaxRsExtension.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyResteasy.java
Labels: java, pr-native, pr-jackson

#3169 Move tests in AbstractTestRest to multiple classes
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRest.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestAssign.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestCommitLog.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestContents.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestDiff.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestEntries.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestInvalidRefs.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestInvalidWithHttp.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestMergeTransplant.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestMisc.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestRefLog.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestReferences.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractRestSecurityContext.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyRest.java
Labels: pr-native, pr-jackson

#3186 Allow adjacent path templates in HttpClient
  clients/client/src/main/java/org/projectnessie/client/http/UriBuilder.java
  clients/client/src/test/java/org/projectnessie/client/http/TestUriBuilder.java
Labels: pr-native

#3177 Make tests that use Dynamo/Mongo/Rocks integration-tests
  servers/jax-rs-tests/pom.xml
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/ITJerseyRestDynamo.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/ITJerseyRestMongo.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/ITJerseyRestRocks.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/ITJerseyResteasyDynamo.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/ITJerseyResteasyMongo.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/ITJerseyResteasyRocks.java
  servers/quarkus-server/pom.xml
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITRestApiDynamo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITRestApiMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITRestApiRocks.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITResteasyDynamo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITResteasyMongo.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITResteasyRocks.java
  versioned/persist/mongodb/pom.xml
  versioned/persist/mongodb/src/test/java/org/projectnessie/versioned/persist/mongodb/ITDatabaseAdapterMongo.java
  versioned/persist/mongodb/src/test/java/org/projectnessie/versioned/persist/mongodb/ITVersionStoreMongo.java
  versioned/persist/rocks/pom.xml
  versioned/persist/rocks/src/test/java/org/projectnessie/versioned/persist/rocks/ITDatabaseAdapterRocks.java
  versioned/persist/rocks/src/test/java/org/projectnessie/versioned/persist/rocks/ITVersionStoreRocks.java
Labels: pr-native

#1344 Update Maven+Gradle plugins to launch the Nessie-Server via `java -jar`
  .github/actions/ci-results/action.yml
  clients/deltalake/pom.xml
  clients/spark-extensions/pom.xml
  code-coverage/pom.xml
  perftest/simulations/pom.xml
  pom.xml
  servers/lambda/pom.xml
  servers/quarkus-server/pom.xml
  tools/apprunner-common/pom.xml
  tools/apprunner-common/src/main/java/org/projectnessie/quarkus/runner/InputBuffer.java
  tools/apprunner-common/src/main/java/org/projectnessie/quarkus/runner/JavaVM.java
  tools/apprunner-common/src/main/java/org/projectnessie/quarkus/runner/ListenUrlWaiter.java
  tools/apprunner-common/src/main/java/org/projectnessie/quarkus/runner/ProcessHandler.java
  tools/apprunner-common/src/test/java/org/projectnessie/quarkus/runner/TestInputBuffer.java
  tools/apprunner-common/src/test/java/org/projectnessie/quarkus/runner/TestJavaVM.java
  tools/apprunner-common/src/test/java/org/projectnessie/quarkus/runner/TestListenUrlWaiter.java
  tools/apprunner-common/src/test/java/org/projectnessie/quarkus/runner/TestProcessHandler.java
  tools/apprunner-gradle-plugin/build.gradle
  tools/apprunner-gradle-plugin/src/main/java/org/projectnessie/quarkus/gradle/ProcessState.java
  tools/apprunner-gradle-plugin/src/main/java/org/projectnessie/quarkus/gradle/QuarkusApp.java
  tools/apprunner-gradle-plugin/src/main/java/org/projectnessie/quarkus/gradle/QuarkusAppExtension.java
  tools/apprunner-gradle-plugin/src/main/java/org/projectnessie/quarkus/gradle/QuarkusAppPlugin.java
  tools/apprunner-gradle-plugin/src/main/java/org/projectnessie/quarkus/gradle/StartTask.java
  tools/apprunner-gradle-plugin/src/main/java/org/projectnessie/quarkus/gradle/StopTask.java
  tools/apprunner-gradle-plugin/src/main/resources/org/projectnessie/quarkus/gradle/log4j2-quarkus.xml
  tools/apprunner-gradle-plugin/src/test/java/org/projectnessie/quarkus/gradle/TestQuarkusApp.java
  tools/apprunner-gradle-plugin/src/test/resources/org/projectnessie/quarkus/gradle/TestSimulatingTestUsingThePlugin.java
  tools/apprunner-maven-plugin/pom.xml
  tools/apprunner-maven-plugin/src/main/java/org/projectnessie/quarkus/maven/AbstractQuarkusAppMojo.java
  tools/apprunner-maven-plugin/src/main/java/org/projectnessie/quarkus/maven/MojoConfigSource.java
  tools/apprunner-maven-plugin/src/main/java/org/projectnessie/quarkus/maven/QuarkusApp.java
  tools/apprunner-maven-plugin/src/main/java/org/projectnessie/quarkus/maven/QuarkusAppStartMojo.java
  tools/apprunner-maven-plugin/src/main/java/org/projectnessie/quarkus/maven/QuarkusAppStopMojo.java
  tools/apprunner-maven-plugin/src/test/java/org/projectnessie/quarkus/maven/ITNessieMavenPlugin.java
  tools/apprunner-maven-plugin/src/test/resources-its/org/projectnessie/quarkus/maven/ITNessieMavenPlugin/applicationIdSpecified/pom.xml
  tools/apprunner-maven-plugin/src/test/resources-its/org/projectnessie/quarkus/maven/ITNessieMavenPlugin/applicationIdSpecified/src/test/java/org/projectnessie/quarkus/mavenit/TestSimulatingTestUsingThePlugin.java
  tools/apprunner-maven-plugin/src/test/resources-its/org/projectnessie/quarkus/maven/ITNessieMavenPlugin/executionJarAndApplicationIdMissing/pom.xml
  tools/apprunner-maven-plugin/src/test/resources-its/org/projectnessie/quarkus/maven/ITNessieMavenPlugin/executionJarAndApplicationIdSpecified/pom.xml
  tools/apprunner-maven-plugin/src/test/resources-its/org/projectnessie/quarkus/maven/ITNessieMavenPlugin/unknownJdk/pom.xml
  tools/content-generator/pom.xml
  tools/pom.xml
Labels: pr-jackson

#3184 Add hashOnRef to DiffApi from + to
  clients/client/src/main/java/org/projectnessie/client/api/GetDiffBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpDiffClient.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetDiff.java
  model/src/main/java/org/projectnessie/api/http/HttpDiffApi.java
  model/src/main/java/org/projectnessie/api/params/DiffParams.java
  model/src/main/java/org/projectnessie/model/Validation.java
  model/src/test/java/org/projectnessie/api/params/DiffParamsTest.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestDiff.java
  servers/services/src/main/java/org/projectnessie/services/impl/DiffApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/DiffApiImplWithAuthorization.java
Labels: pr-native

#3183 Replace SqlView with IcebergView
  README.md
  model/src/main/java/org/projectnessie/model/Content.java
  model/src/main/java/org/projectnessie/model/IcebergTable.java
  model/src/main/java/org/projectnessie/model/IcebergView.java
  model/src/main/java/org/projectnessie/model/SqlView.java
  python/README.rst
  python/pynessie/model.py
  python/tests/cassettes/test_nessie_cli_content/test_content_list.yaml
  python/tests/cassettes/test_nessie_cli_content/test_content_view.yaml
  python/tests/test_expression_util.py
  python/tests/test_nessie_cli_content.py
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestCommitLog.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestContents.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestEntries.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestReferences.java
  servers/store/src/main/java/org/projectnessie/server/store/TableCommitMetaStoreWorker.java
  servers/store/src/main/proto/table.proto
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  site/docs/develop/spec.md
  site/docs/features/intro.md
  site/docs/tables/index.md
  site/docs/tables/views.md
  tools/content-generator/README.md
  tools/content-generator/src/main/java/org/projectnessie/tools/contentgenerator/cli/GenerateContent.java
  ui/src/Explore/Components/ContentView.test.tsx
  ui/src/Explore/Components/ContentView.tsx
  ui/src/Explore/Components/__snapshots__/ContentView.test.tsx.snap
Labels: pr-native, pr-jackson

#3196 Reading with detached commit-IDs
  model/src/main/java/org/projectnessie/model/Branch.java
  model/src/main/java/org/projectnessie/model/Detached.java
  model/src/main/java/org/projectnessie/model/Reference.java
  model/src/main/java/org/projectnessie/model/Tag.java
  model/src/main/java/org/projectnessie/model/Validation.java
  model/src/test/java/org/projectnessie/model/TestValidation.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRest.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestAssign.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestCommitLog.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestDiff.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestEntries.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestMergeTransplant.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestReferences.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractRestAccessCheckDetached.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractRestSecurityContext.java
  servers/services/src/main/java/org/projectnessie/services/impl/BaseApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefUtil.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/test/java/org/projectnessie/services/impl/RefUtilTest.java
  ui/src/Explore/Explore.tsx
  versioned/spi/src/main/java/org/projectnessie/versioned/DetachedRef.java
Labels: pr-native, pr-jackson
