Repository projectnessie/nessie, pull requests merged in 2022-02, with the labels that each got.

#3224 Fix RocksDB test related code
  servers/quarkus-server/pom.xml
  servers/quarkus-server/src/test/java/org/projectnessie/server/ITRestApiRocks.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/profiles/QuarkusTestProfileRocks.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/profiles/RocksTestResourceLifecycleManager.java
  versioned/persist/rocks/src/main/java/org/projectnessie/versioned/persist/rocks/RocksDatabaseAdapter.java
Labels: pr-native

#3235 Finish spans in TracingVersionStore
  versioned/spi/src/main/java/org/projectnessie/versioned/TracingVersionStore.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestTracingVersionStore.java
  versioned/spi/src/test/java/org/projectnessie/versioned/test/tracing/TestTracer.java
Labels: java, pr-native, pr-jackson

#3244 Batch access checks per version-store operation
  design/authorization.md
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractRestAccessCheckDetached.java
  servers/jax-rs/src/main/java/org/projectnessie/services/authz/AccessCheckerExtension.java
  servers/jax-rs/src/main/java/org/projectnessie/services/authz/AuthorizerExtension.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/authz/CelAccessChecker.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/authz/CelAuthorizer.java
  servers/quarkus-server/src/main/java/org/projectnessie/server/authz/CompiledAuthorizationRules.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestContentResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestDiffResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestRefLogResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestTreeResource.java
  servers/services/src/main/java/org/projectnessie/services/authz/AbstractAccessChecker.java
  servers/services/src/main/java/org/projectnessie/services/authz/AccessChecker.java
  servers/services/src/main/java/org/projectnessie/services/authz/Authorizer.java
  servers/services/src/main/java/org/projectnessie/services/authz/Check.java
  servers/services/src/main/java/org/projectnessie/services/authz/DefaultAccessChecker.java
  servers/services/src/main/java/org/projectnessie/services/impl/BaseApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/ContentApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/ContentApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/impl/DiffApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/DiffApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefLogApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefLogApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImplWithAuthorization.java
  servers/services/src/test/java/org/projectnessie/services/authz/AccessCheckerTest.java
Labels: pr-native

#3292 Use the right `StoreWorker` in tests
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/AbstractTestJerseyResteasy.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/extension/DatabaseAdapterExtension.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/extension/NessieDbAdapter.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/SimpleStoreWorker.java
Labels: pr-native

#3306 Use docker hostname for dynamodb integ test
  versioned/persist/dynamodb/src/test/java/org/projectnessie/versioned/persist/dynamodb/LocalDynamoTestConnectionProviderSource.java
Labels: java, pr-native, pr-jackson

#3320 use official maven wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  pom.xml
Labels: pr-native, pr-jackson

#3316 parallel maven builds in workflows
  .github/workflows/main.yml
  .github/workflows/pull-request-jackson.yml
  .github/workflows/pull-request-native.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-publish.yml
  CONTRIBUTING.md
Labels: pr-native, pr-jackson

#3343 use maven wrapper for jackson ITs
  .github/workflows/main.yml
Labels: pr-jackson

#3371 Enable Mongo metrics by default in Quarkus
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native
