Repository projectnessie/nessie, pull requests merged in 2022-03, with the labels that each got.

#3447 Add tracing to database-adapter internal operations
  servers/quarkus-server/src/main/java/org/projectnessie/server/providers/ConfigurableVersionStoreFactory.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/Traced.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/TracingDatabaseAdapter.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/TryLoopState.java
  versioned/persist/adapter/src/test/java/org/projectnessie/versioned/persist/adapter/spi/TestTryLoopState.java
  versioned/persist/dynamodb/src/main/java/org/projectnessie/versioned/persist/dynamodb/DynamoDatabaseAdapter.java
  versioned/persist/inmem/src/main/java/org/projectnessie/versioned/persist/inmem/InmemoryDatabaseAdapter.java
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoDatabaseAdapter.java
  versioned/persist/nontx/src/main/java/org/projectnessie/versioned/persist/nontx/NonTransactionalDatabaseAdapter.java
  versioned/persist/rocks/src/main/java/org/projectnessie/versioned/persist/rocks/RocksDatabaseAdapter.java
  versioned/persist/tests/pom.xml
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDatabaseAdapterVersionStoreTest.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractTracing.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/extension/DatabaseAdapterExtension.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/extension/NessieDbAdapter.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/extension/NessieDbTracer.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/extension/NessieMockedTracingExtension.java
  versioned/persist/tx/src/main/java/org/projectnessie/versioned/persist/tx/TxDatabaseAdapter.java
  versioned/spi/src/main/java/org/projectnessie/versioned/TracingVersionStore.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestTracingVersionStore.java
Labels: pr-native

#3572 Support Namespaces
  clients/client/src/main/java/org/projectnessie/client/api/CreateNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/DeleteNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/GetMultipleNamespacesBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/GetNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/api/NessieApiV1.java
  clients/client/src/main/java/org/projectnessie/client/api/OnNamespaceBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpNamespaceClient.java
  clients/client/src/main/java/org/projectnessie/client/http/NessieApiClient.java
  clients/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpApiV1.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpCreateNamespace.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpDeleteNamespace.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetMultipleNamespaces.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetNamespace.java
  compatibility/jersey/src/main/java/org/projectnessie/tools/compatibility/jersey/JerseyServer.java
  model/src/main/java/org/projectnessie/api/NamespaceApi.java
  model/src/main/java/org/projectnessie/api/http/HttpNamespaceApi.java
  model/src/main/java/org/projectnessie/api/params/MultipleNamespacesParams.java
  model/src/main/java/org/projectnessie/api/params/NamespaceParams.java
  model/src/main/java/org/projectnessie/error/ErrorCode.java
  model/src/main/java/org/projectnessie/error/NessieNamespaceAlreadyExistsException.java
  model/src/main/java/org/projectnessie/error/NessieNamespaceNotEmptyException.java
  model/src/main/java/org/projectnessie/error/NessieNamespaceNotFoundException.java
  model/src/main/java/org/projectnessie/model/Content.java
  model/src/main/java/org/projectnessie/model/ContentKey.java
  model/src/main/java/org/projectnessie/model/GetNamespacesResponse.java
  model/src/main/java/org/projectnessie/model/Namespace.java
  model/src/main/java/org/projectnessie/model/UriUtil.java
  model/src/main/resources/META-INF/openapi.yaml
  model/src/test/java/org/projectnessie/api/params/MultipleNamespacesParamsTest.java
  model/src/test/java/org/projectnessie/api/params/NamespaceParamsTest.java
  model/src/test/java/org/projectnessie/model/TestNamespace.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestContents.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestEntries.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestMergeTransplant.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractRestNamespace.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/AbstractTestRest.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/NamespaceParamConverterProvider.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/NessieExceptionMapper.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestNamespaceResource.java
  servers/services/src/main/java/org/projectnessie/services/impl/BaseApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/NamespaceApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/NamespaceApiImplWithAuthorization.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/store-proto/src/main/proto/table.proto
  servers/store/src/main/java/org/projectnessie/server/store/TableCommitMetaStoreWorker.java
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITGenerateContent.java
  ui/src/App.test.tsx
  ui/src/TableListing/TableListing.test.tsx
  ui/src/TableListing/TableListing.tsx
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/ContentVariantSupplier.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/GenericContentVariantSupplier.java
  versioned/spi/src/main/java/org/projectnessie/versioned/StoreWorker.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractAssign.java
Labels: pr-jackson

#3657 Upgrade Maven to 3.8.5
  .mvn/wrapper/maven-wrapper.properties
Labels: pr-native, pr-jackson

#3751 Bump quarkus.native.builder-image from 21.3.0 to 22.0
  pom.xml
Labels: pr-native
