Repository projectnessie/nessie, pull requests merged in 2022-11, with the labels that each got.

#5435 Move Merge/Transplant classes to the api.v1.params package
  clients/client/src/main/java/org/projectnessie/client/http/HttpTreeClient.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpMergeReference.java
  clients/client/src/main/java/org/projectnessie/client/http/v1api/HttpTransplantCommits.java
  model/src/main/java/org/projectnessie/api/v1/TreeApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/v1/params/BaseMergeTransplant.java
  model/src/main/java/org/projectnessie/api/v1/params/Merge.java
  model/src/main/java/org/projectnessie/api/v1/params/Transplant.java
  model/src/test/java/org/projectnessie/api/v1/params/TestParamObjectsSerialization.java
  model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestTreeResource.java
Labels: pr-native, pr-integrations

#5456 Pull `ProtobufHelperPlugin` from `gradle-build-plugins`
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/ProtobufHelperPlugin.kt
  gradle/libs.versions.toml
  servers/store-proto/build.gradle.kts
  versioned/persist/serialize-proto/build.gradle.kts
  versioned/transfer-proto/build.gradle.kts
Labels: pr-integrations

#5486 Refactor Nessie-Jax-RS extension a little bit
  clients/iceberg-views/src/test/java/org/apache/iceberg/nessie/BaseIcebergTest.java
  gc/gc-base/src/test/java/org/projectnessie/gc/identify/TestIdentifyLiveContents.java
  gc/gc-base/src/test/java/org/projectnessie/gc/repository/TestNessieRepositoryConnector.java
  gc/gc-tool/src/test/java/org/projectnessie/gc/tool/TestCLI.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/jax-rs-testextension/src/test/java/org/projectnessie/jaxrs/ext/TestNessieJaxRsExtension.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/tests/AbstractTestDatabaseAdapterRest.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/tests/AbstractTestDatabaseAdapterResteasy.java
Labels: pr-integrations

#5526 Bump+change Quarkus builder image to Mandrel + 22.3
  gradle/libs.versions.toml
  servers/lambda/build.gradle.kts
  servers/quarkus-cli/build.gradle.kts
  servers/quarkus-server/build.gradle.kts
Labels: pr-native

#5541 Nessie/Quarkus: use `Instance<DatabaseAdapter>`
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/providers/ConfigurableVersionStoreFactory.java
Labels: pr-native

#5557 Fix erasing repo descriptions
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoDatabaseAdapter.java
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoDatabaseClient.java
  versioned/persist/rocks/src/main/java/org/projectnessie/versioned/persist/rocks/RocksDatabaseAdapter.java
  versioned/persist/rocks/src/main/java/org/projectnessie/versioned/persist/rocks/RocksDbInstance.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractRepoDescription.java
Labels: pr-native
