Repository projectnessie/nessie, pull requests merged in 2022-08, with the labels that each got.

#4802 Fix dependencies leaking into projects consuming Nessie
  build.gradle.kts
  buildSrc/src/main/kotlin/Utilities.kt
  clients/antlr-runtime/build.gradle.kts
  clients/client/build.gradle.kts
  clients/deltalake/build.gradle.kts
  clients/iceberg-views/build.gradle.kts
  clients/spark-antlr-grammar/build.gradle.kts
  clients/spark-extensions-base/build.gradle.kts
  clients/spark-extensions/build.gradle.kts
  compatibility/common/build.gradle.kts
  compatibility/compatibility-tests/build.gradle.kts
  compatibility/jersey/build.gradle.kts
  gc/gc-base/build.gradle.kts
  model/build.gradle.kts
  nessie-iceberg/settings.gradle.kts
  perftest/gatling/build.gradle.kts
  perftest/simulations/build.gradle.kts
  servers/jax-rs-testextension/build.gradle.kts
  servers/jax-rs-tests/build.gradle.kts
  servers/jax-rs/build.gradle.kts
  servers/lambda/build.gradle.kts
  servers/quarkus-cli/build.gradle.kts
  servers/quarkus-common/build.gradle.kts
  servers/quarkus-server/build.gradle.kts
  servers/quarkus-tests/build.gradle.kts
  servers/rest-services/build.gradle.kts
  servers/services/build.gradle.kts
  servers/store/build.gradle.kts
  settings.gradle.kts
  tools/content-generator/build.gradle.kts
  versioned/persist/adapter/build.gradle.kts
  versioned/persist/bench/build.gradle.kts
  versioned/persist/dynamodb/build.gradle.kts
  versioned/persist/inmem/build.gradle.kts
  versioned/persist/mongodb/build.gradle.kts
  versioned/persist/nontx/build.gradle.kts
  versioned/persist/rocks/build.gradle.kts
  versioned/persist/serialize/build.gradle.kts
  versioned/persist/tests/build.gradle.kts
  versioned/persist/tx/build.gradle.kts
  versioned/spi/build.gradle.kts
  versioned/tests/build.gradle.kts
Labels: pr-native, pr-jackson

#4877 CI: Read-only cache usage for main-native + jackson
  .github/workflows/main.yml
Labels: pr-jackson

#4686 Add PR workflow for Nessie-Query-Engine-Integration-Tests
  .github/actions/patch-git/action.yml
  .github/workflows/pull-request-integ.yml
  README.md
Labels: pr-integrations

#4929 Register KeyEntryForCel for reflection inside Quarkus
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/reflect/ModelReflections.java
Labels: java, pr-native

#4942 Remove now superfluous functionality in `StoreWorker`
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/ITCheckContent.java
  servers/store/src/main/java/org/projectnessie/server/store/TableCommitMetaStoreWorker.java
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitLogScan.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitScenarios.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractConcurrency.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDiff.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyCommits.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractMergeTransplant.java
  versioned/spi/build.gradle.kts
  versioned/spi/src/main/java/org/projectnessie/versioned/CommitMetaSerializer.java
  versioned/spi/src/main/java/org/projectnessie/versioned/StoreWorker.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestCommitMetaSerializer.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/SimpleStoreWorker.java
Labels: pr-native, pr-jackson, pr-integrations

#4943 Re-add `payload` to `StoreWorker` to identify the content-type
  servers/quarkus-cli/src/main/java/org/projectnessie/quarkus/cli/CheckContent.java
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/ITCheckContent.java
  servers/store/src/main/java/org/projectnessie/server/store/TableCommitMetaStoreWorker.java
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/ContentAndState.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/Difference.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/KeyListEntry.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/KeyWithBytes.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/adapter/src/test/java/org/projectnessie/versioned/persist/adapter/spi/TestFetchValuesUsingOpenAddressing.java
  versioned/persist/adapter/src/test/java/org/projectnessie/versioned/persist/adapter/spi/TestKeyListBuildState.java
  versioned/persist/serialize-proto/src/main/proto/persist.proto
  versioned/persist/serialize/src/main/java/org/projectnessie/versioned/persist/adapter/serialize/ProtoSerialization.java
  versioned/persist/serialize/src/test/java/org/projectnessie/versioned/persist/adapter/serialize/TestSerialization.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitScenarios.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDiff.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractEvents.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyCommits.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyKeys.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractMergeTransplant.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractReferences.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractRepositories.java
  versioned/spi/src/main/java/org/projectnessie/versioned/StoreWorker.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/SimpleStoreWorker.java
Labels: pr-native, pr-jackson, pr-integrations

#4945 Remove payload from `Content.Type`
  model/src/main/java/org/projectnessie/model/Content.java
  model/src/main/java/org/projectnessie/model/types/ContentTypes.java
  model/src/main/java/org/projectnessie/model/types/MainContentTypeBundle.java
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/ITCheckContent.java
  servers/store/src/main/java/org/projectnessie/server/store/BaseSerializer.java
  servers/store/src/main/java/org/projectnessie/server/store/DeltaLakeTableSerializer.java
  servers/store/src/main/java/org/projectnessie/server/store/IcebergTableSerializer.java
  servers/store/src/main/java/org/projectnessie/server/store/IcebergViewSerializer.java
  servers/store/src/main/java/org/projectnessie/server/store/NamespaceSerializer.java
  servers/store/src/main/java/org/projectnessie/server/store/UnknownSerializer.java
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitLogScan.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitScenarios.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractConcurrency.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDiff.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractEvents.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyCommits.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyKeys.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractMergeTransplant.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractReferences.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractRepositories.java
  versioned/spi/src/main/java/org/projectnessie/versioned/store/ContentSerializer.java
  versioned/spi/src/main/java/org/projectnessie/versioned/store/DefaultStoreWorker.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/OnRefOnlySerializer.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/TestContentSerializer.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/TestContentTypeBundle.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/WithAttachmentsSerializer.java
Labels: pr-native, pr-jackson, pr-integrations

#5017 Cleanup model reflections
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/reflect/ModelReflections.java
Labels: pr-native, pr-jackson, pr-integrations

#5020 Build: remove unused `test.jar`s
  clients/client/build.gradle.kts
  model/build.gradle.kts
Labels: pr-native, pr-jackson, pr-integrations

#5022 Bump Quarkus-Native-Image from 22.1-java17 to 22.2-java17
  build.gradle.kts
Labels: pr-native
