Repository projectnessie/nessie, pull requests merged in 2023-01, with the labels that each got.

#5800 Disable Quarkus dev services for tests
  servers/quarkus-cli/src/main/resources/application.properties
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native

#5824 Test/CI: Introduce test parallelism constraints for test tasks
  buildSrc/src/main/kotlin/DockerIntTest.kt
  buildSrc/src/main/kotlin/nessie-conventions.gradle.kts
  ui/build.gradle.kts
Labels: pr-native, pr-integrations

#5705 CI: cross-check macOS + Windows
  .github/actions/dev-tool-java/action.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  CONTRIBUTING.md
Labels: pr-macos-win

#5839 Expose Nessie API version to custom client builders in tests
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieApiVersion.java
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientCustomizer.java
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientFactory.java
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientResolver.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/tests/TestJerseyRestNaiveClientInMemory.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/BaseClientAuthTest.java
Labels: pr-native, pr-integrations

#5903 Disable JVM monitoring in native images
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native

#5933 Move Jersey test dependencies to where they belong to
  servers/jax-rs-testextension/build.gradle.kts
  servers/jax-rs/build.gradle.kts
Labels: pr-integrations

#5974 Make `QuarkusBuild` cacheable
  servers/quarkus-cli/build.gradle.kts
  servers/quarkus-server/build.gradle.kts
Labels: pr-native, pr-integrations
