Repository projectnessie/nessie, pull requests merged in 2023-03, with the labels that each got.

#6202 Fix: `Content.Type` is a string
  model/src/main/java/org/projectnessie/model/Content.java
Labels: pr-integrations

#6197 Maven group-ID refactoring
  .github/workflows/pull-request-integ.yml
  build-tools-integration-tests/build.gradle
  build-tools-integration-tests/pom.xml
  build-tools-integration-tests/src/test/java/org/projectnessie/buildtools/TestPublishedPoms.java
  buildSrc/src/main/kotlin/Utilities.kt
  clients/deltalake/build.gradle.kts
  clients/iceberg-views/build.gradle.kts
  clients/spark-extensions/build.gradle.kts
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/api/Version.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OldNessie.java
  nessie-iceberg/build.gradle.kts
  nessie-iceberg/settings.gradle.kts
  settings.gradle.kts
  site/macros.py
  testing/multi-env-test-engine/src/main/java/org/projectnessie/junit/engine/MultiEnvTestEngine.java
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6206 upgrade GH WFs to ubuntu-22.04
  .github/workflows/bump-version.yml
  .github/workflows/check-results-upload.yml
  .github/workflows/main.yml
  .github/workflows/newer-java.yml
  .github/workflows/pull-request-helm.yml
  .github/workflows/pull-request-integ.yml
  .github/workflows/pull-request-native.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-create.yml
  .github/workflows/release-publish.yml
  .github/workflows/site.yml
  .github/workflows/snapshot-publish.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6216 Fix native images after recent rocksdb version bump
  .github/renovate.json5
  servers/quarkus-server/src/main/resources/application.properties
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6211 V2 REST declares wrong response types in OpenAPI spec
  model/src/main/java/org/projectnessie/api/v2/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/model/SingleReferenceResponse.java
  model/src/main/resources/META-INF/openapi.yaml
Labels: pr-integrations

#6222 Add tests to validate that API v1 responses do not have v2 attributes.
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientResolver.java
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientResponseFactory.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpResponse.java
  clients/client/src/main/java/org/projectnessie/client/http/HttpResponseFactory.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/HttpRuntimeConfig.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk11/JavaRequest.java
  clients/client/src/main/java/org/projectnessie/client/http/impl/jdk8/UrlConnectionRequest.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/ValidatingApiV1ResponseFactory.java
  servers/jax-rs-tests/src/test/java/org/projectnessie/jaxrs/tests/TestOlderRestApiV1ClientInMemory.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestQuarkusWithOlderRestApiV1ClientInMemory.java
Labels: pr-native, pr-integrations

#6224 Make V2 ref path-param parsing independent of `Reference`
  model/src/main/java/org/projectnessie/api/v2/params/ParsedReference.java
  model/src/main/java/org/projectnessie/api/v2/params/ReferenceResolver.java
  model/src/main/java/org/projectnessie/model/Reference.java
  model/src/main/java/org/projectnessie/model/Util.java
  model/src/test/java/org/projectnessie/api/v2/params/TestParsedReference.java
  model/src/test/java/org/projectnessie/model/TestReference.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestAuthorizationRules.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/authz/NessieAuthorizationTestProfile.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestV2TreeResource.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefUtil.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/spi/TreeService.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestReferences.java
Labels: pr-native, pr-integrations

#6254 Add missing Gradle build scan for last check
  .github/workflows/pull-request-integ.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6256 Add helper functions to `Namespace` and `ContentKey()`
  clients/client/src/main/java/org/projectnessie/client/util/v2api/ClientSideCreateNamespace.java
  clients/client/src/main/java/org/projectnessie/client/util/v2api/ClientSideDeleteNamespace.java
  clients/client/src/main/java/org/projectnessie/client/util/v2api/ClientSideGetMultipleNamespaces.java
  clients/client/src/main/java/org/projectnessie/client/util/v2api/ClientSideGetNamespace.java
  clients/client/src/main/java/org/projectnessie/client/util/v2api/ClientSideUpdateNamespace.java
  model/src/main/java/org/projectnessie/model/ContentKey.java
  model/src/main/java/org/projectnessie/model/Namespace.java
  model/src/test/java/org/projectnessie/model/TestContentKey.java
  model/src/test/java/org/projectnessie/model/TestNamespace.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieApi.java
  servers/services/src/main/java/org/projectnessie/services/impl/NamespaceApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestNamespace.java
Labels: pr-native, pr-integrations

#6264 CLI tool cheanges for 'Ensure parent namespace(s) for commited content objects exist' PR
  servers/quarkus-cli/src/main/java/org/projectnessie/quarkus/cli/CheckContent.java
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/BaseContentTest.java
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/ITCheckContent.java
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/ITContentInfo.java
  servers/quarkus-cli/src/test/java/org/projectnessie/quarkus/cli/ITExportImport.java
Labels: pr-native

#6263 Test changes for 'Ensure parent namespace(s) for commited content objects exist' PR
  clients/deltalake/src/test/java/org/projectnessie/deltalake/AbstractDeltaTest.java
  clients/deltalake/src/test/java/org/projectnessie/deltalake/ITDeltaLog.java
  clients/deltalake/src/test/java/org/projectnessie/deltalake/ITDeltaLogBranches.java
  clients/iceberg-views/src/test/java/org/apache/iceberg/nessie/TestNessieIcebergViews.java
  clients/spark-extensions-basetests/src/main/java/org/projectnessie/spark/extensions/AbstractNessieSparkSqlExtensionTest.java
  clients/spark-extensions-basetests/src/main/java/org/projectnessie/spark/extensions/SparkSqlTestBase.java
  clients/spark-extensions/v3.1/src/test/java/org/projectnessie/spark/extensions/ITNessieStatements.java
  gc/gc-iceberg-inttest/src/test/java/org/projectnessie/gc/iceberg/inttest/ITSparkIcebergNessieLocal.java
  gc/gc-iceberg-inttest/src/test/java/org/projectnessie/gc/iceberg/inttest/ITSparkIcebergNessieLocalNoSchema.java
  gc/gc-iceberg-inttest/src/test/java/org/projectnessie/gc/iceberg/inttest/ITSparkIcebergNessieS3.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieApi.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieRest.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/AbstractQuarkusSmoke.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/AbstractTestBasicOperations.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestAuthorizationRules.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/authz/NessieAuthorizationTestProfile.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestCommitLog.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestContents.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestDiff.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestEntries.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestMergeTransplant.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestMisc.java
  servers/services/src/test/java/org/projectnessie/services/impl/AbstractTestNamespace.java
  servers/services/src/test/java/org/projectnessie/services/impl/BaseTestServiceImpl.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/AbstractContentGeneratorTest.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITDeleteContent.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITGenerateContent.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITNessieVersion.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITReadCommits.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITReadContent.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITReadReferences.java
  tools/content-generator/src/test/java/org/projectnessie/tools/contentgenerator/ITRefreshContent.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitLogScan.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitScenarios.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractConcurrency.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDiff.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractEvents.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractGetNamedReferences.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyCommits.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyKeys.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractMergeTransplant.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractRefLog.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractReferences.java
  versioned/storage/store/src/test/java/org/projectnessie/versioned/storage/versionstore/TestVersionStoreImpl.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractDuplicateTable.java
  versioned/transfer/src/test/java/org/projectnessie/versioned/transfer/AbstractITCommitLogOptimization.java
  versioned/transfer/src/test/java/org/projectnessie/versioned/transfer/BaseExportImport.java
Labels: pr-native, pr-integrations

#6266 Allow some integration tests to be executed on macOS
  .github/workflows/ci-mac.yml
  clients/deltalake/src/intTest/java/org/projectnessie/deltalake/ITDeltaLog.java
  clients/deltalake/src/intTest/java/org/projectnessie/deltalake/ITDeltaLogBranches.java
  testing/s3minio/src/main/java/org/projectnessie/minio/MinioExtension.java
Labels: pr-native, pr-integrations, pr-macos-win, pr-helm, pr-docker

#6246 Ensure parent namespace(s) for commited content objects exist
  api/model/src/main/java/org/projectnessie/model/ContentKey.java
  api/model/src/test/java/org/projectnessie/model/TestContentKey.java
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/config/QuarkusStoreConfig.java
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/config/QuarkusVersionStoreAdvancedConfig.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/AdjustableDatabaseAdapterConfig.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/CommitParams.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/DatabaseAdapterConfig.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/testextension/src/main/java/org/projectnessie/versioned/persist/tests/SystemPropertiesConfigurer.java
  versioned/persist/tests/build.gradle.kts
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDatabaseAdapterVersionStoreTest.java
  versioned/storage/common-tests/build.gradle.kts
  versioned/storage/common/src/main/java/org/projectnessie/versioned/storage/common/config/StoreConfig.java
  versioned/storage/common/src/test/java/org/projectnessie/versioned/storage/common/config/TestStoreConfig.java
  versioned/storage/store/build.gradle.kts
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/BaseCommitHelper.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/BaseMergeTransplantIndividual.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/BaseMergeTransplantSquash.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/CommitImpl.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/Merge.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/MergeIndividualImpl.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/MergeSquashImpl.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/Transplant.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/TransplantIndividualImpl.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/TransplantSquashImpl.java
  versioned/storage/store/src/test/java/org/projectnessie/versioned/storage/versionstore/TestNoNamespaceValidation.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractNamespaceValidation.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractNoNamespaceValidation.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractVersionStoreTestBase.java
Labels: pr-native, pr-macos-win

#6295 GH WF to sync container repositories
  .github/docker-sync/regsync.sha512
  .github/docker-sync/regsync.yml
  .github/workflows/container-sync.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6299 Workaround UI issues in ghcr.io + quay.io
  tools/dockerbuild/build-push-images.sh
Labels: pr-docker

#6303 Fix labeler config
  .github/labeler.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6305 Replace Docker Hub with ghcr.io
  .github/docker-sync/regsync.yml
  .github/workflows/container-sync.yml
  .github/workflows/release-publish.yml
  .github/workflows/snapshot-publish.yml
  README.md
  docker/authn/docker-compose.yml
  docker/dynamodb/docker-compose.yml
  docker/in_memory/docker-compose.yml
  docker/mongodb/docker-compose.yml
  helm/nessie/values.yaml
  site/docs/guides/keycloak.md
  site/docs/guides/spark-s3.md
  site/docs/try/authentication.md
  site/docs/try/configuration.md
  site/docs/try/docker.md
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6314 GH WF: Remove `concurrency` from PR jobs
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  .github/workflows/pull-request-docker.yml
  .github/workflows/pull-request-helm.yml
  .github/workflows/pull-request-integ.yml
  .github/workflows/pull-request-native.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6313 Forbid special ASCII chars in content keys
  api/model/src/main/java/org/projectnessie/model/ContentKey.java
  api/model/src/main/java/org/projectnessie/model/Namespace.java
  api/model/src/main/java/org/projectnessie/model/Util.java
  api/model/src/test/java/org/projectnessie/model/TestContentKey.java
  api/model/src/test/java/org/projectnessie/model/TestNamespace.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/TypeMapping.java
  versioned/storage/store/src/test/java/org/projectnessie/versioned/storage/versionstore/TestTypeMapping.java
Labels: pr-integrations

#6317 Use positive repo erase confirmation codes.
  servers/quarkus-cli/src/main/java/org/projectnessie/quarkus/cli/EraseRepository.java
Labels: pr-native

#6334 Fix release WF
  .github/workflows/release-publish.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6341 Remove InstantParamConverterProvider
  compatibility/jersey/src/main/java/org/projectnessie/tools/compatibility/jersey/JerseyServer.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjakarta/InstantParamConverterProvider.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjavax/InstantParamConverterProvider.java
  servers/rest-services/src/test/java/org/projectnessie/services/restjakarta/TestInstantParamConverterProvider.java
  servers/rest-services/src/test/java/org/projectnessie/services/restjavax/TestInstantParamConverterProvider.java
Labels: pr-native

#6346 Properly return `ParamConverterProvider` errors as HTTP/400
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieRest.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjakarta/NessieExceptionMapper.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjavax/NessieExceptionMapper.java
Labels: pr-native

#6348 CI: Bump newer-java-version WF from 19 to 20
  .github/workflows/newer-java.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6356 Support annotation-based configuration in "old server" tests
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/api/NessieServerProperties.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/api/NessieServerProperty.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/CurrentNessieServer.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/NessieUpgradesExtension.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OldNessieServer.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OlderNessieClientsExtension.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OlderNessieServersExtension.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/RollingUpgradesExtension.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/ServerKey.java
  compatibility/compatibility-tests/src/intTest/java/org/projectnessie/tools/compatibility/tests/ITImplicitNamespaces.java
  compatibility/jersey/src/main/java/org/projectnessie/tools/compatibility/jersey/DatabaseAdapters.java
Labels: pr-integrations

#6366 Import: paint dots also during the finalize phase
  servers/quarkus-cli/src/main/java/org/projectnessie/quarkus/cli/ImportRepository.java
  versioned/storage/common/src/main/java/org/projectnessie/versioned/storage/common/logic/IndexesLogic.java
  versioned/storage/common/src/main/java/org/projectnessie/versioned/storage/common/logic/IndexesLogicImpl.java
  versioned/storage/common/src/test/java/org/projectnessie/versioned/storage/common/logic/TestIndexesLogicImpl.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/ImportPersistCommon.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/ProgressEvent.java
Labels: pr-native

#6405 Remove exception mapping for `java.security.AccessControlException`
  servers/rest-services/src/main/java/org/projectnessie/services/restjakarta/NessieExceptionMapper.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjavax/NessieExceptionMapper.java
Labels: pr-native

#6399 Tests: Update Quarkus' TestNessieError
  servers/quarkus-server/src/test/java/org/projectnessie/server/error/TestNessieError.java
Labels: pr-native

#6407 Remove deprecated and unused `@NessieUri` annotation
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieUri.java
Labels: pr-native

#6410 Nit: Suppress a bunch of unchecked and deprecated warnings
  api/client/src/main/java/org/projectnessie/client/api/GetRefLogBuilder.java
  api/client/src/main/java/org/projectnessie/client/builder/BaseGetRefLogBuilder.java
  api/client/src/main/java/org/projectnessie/client/builder/BaseMergeTransplantBuilder.java
  api/client/src/main/java/org/projectnessie/client/builder/BaseOnBranchBuilder.java
  api/client/src/main/java/org/projectnessie/client/builder/BaseOnReferenceBuilder.java
  api/client/src/main/java/org/projectnessie/client/builder/BaseOnTagBuilder.java
  api/client/src/main/java/org/projectnessie/client/http/HttpRefLogClient.java
  api/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  api/client/src/main/java/org/projectnessie/client/http/v1api/HttpApiV1.java
  api/client/src/main/java/org/projectnessie/client/http/v1api/HttpGetRefLog.java
  api/client/src/main/java/org/projectnessie/client/http/v2api/BaseHttpOnReferenceRequest.java
  api/client/src/main/java/org/projectnessie/client/http/v2api/HttpApiV2.java
  api/client/src/test/java/org/projectnessie/client/auth/TestBasicAuthProvider.java
  api/client/src/test/java/org/projectnessie/client/http/TestHttpClientBuilder.java
  api/model/src/main/java/org/projectnessie/api/v1/RefLogApi.java
  api/model/src/main/java/org/projectnessie/api/v1/http/HttpRefLogApi.java
  api/model/src/main/java/org/projectnessie/model/RefLogResponse.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/TranslatingVersionNessieApi.java
  integrations/iceberg-views/src/main/java/org/apache/iceberg/view/HadoopViewOperations.java
  integrations/iceberg-views/src/main/java/org/apache/iceberg/view/VersionParser.java
  integrations/iceberg-views/src/main/java/org/apache/iceberg/view/ViewVersionMetadataParser.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestAuthorizationRules.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestRefLogResource.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestRefLogService.java
  servers/services/src/main/java/org/projectnessie/services/cel/CELUtil.java
  servers/services/src/main/java/org/projectnessie/services/impl/RefLogApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/spi/RefLogService.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestContents.java
  testing/multi-env-test-engine/src/main/java/org/projectnessie/junit/engine/EmptyConfigurationParameters.java
  testing/multi-env-test-engine/src/main/java/org/projectnessie/junit/engine/MultiEnvExtensionRegistry.java
  testing/s3mock/src/main/java/org/projectnessie/s3mock/data/ListBucketResultBase.java
  testing/s3mock/src/test/java/org/projectnessie/s3mock/TestIcebergS3MockServer.java
  versioned/persist/adapter/src/test/java/org/projectnessie/versioned/persist/adapter/spi/TestFetchValuesUsingOpenAddressing.java
  versioned/persist/bench/src/main/java/org/projectnessie/versioned/persist/benchmarks/CommitBench.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
  versioned/spi/src/main/java/org/projectnessie/versioned/MetricsVersionStore.java
  versioned/spi/src/main/java/org/projectnessie/versioned/TracingVersionStore.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestMetricsVersionStore.java
  versioned/spi/src/test/java/org/projectnessie/versioned/TestTracingVersionStore.java
  versioned/storage/dynamodb/src/main/java/org/projectnessie/versioned/storage/dynamodb/DynamoDBPersist.java
  versioned/storage/jdbc/src/main/java/org/projectnessie/versioned/storage/jdbc/AbstractJdbcPersist.java
  versioned/storage/mongodb/src/main/java/org/projectnessie/versioned/storage/mongodb/MongoDBPersist.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/VersionStoreImpl.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractMerge.java
Labels: pr-native, pr-integrations

#6408 Nit: suppress "unclosed resource" warning in some tests
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestAuthorizationRules.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestBasicAuthentication.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/TestDisabledAuthentication.java
  servers/quarkus-server/src/testFixtures/java/org/projectnessie/server/AbstractOpenIdAuthentication.java
Labels: pr-native

#6416 Gradle CI tweaks
  .github/actions/dev-tool-java/action.yml
  .github/workflows/main.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6421 Expand iceberg-views version-ID to 64 bit
  api/model/src/main/java/org/projectnessie/model/IcebergView.java
  integrations/iceberg-views/src/main/java/org/apache/iceberg/nessie/NessieViewOperations.java
  servers/store-proto/src/main/proto/org/projectnessie/server/store/proto/table.proto
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
Labels: pr-native, pr-integrations

#6422 Remove old content-attachments approach
  servers/quarkus-cli/src/intTest/java/org/projectnessie/quarkus/cli/BaseContentTest.java
  servers/quarkus-cli/src/intTest/java/org/projectnessie/quarkus/cli/ITExportImport.java
  servers/quarkus-cli/src/intTest/java/org/projectnessie/quarkus/cli/ITExportImportPersist.java
  servers/quarkus-cli/src/main/java/org/projectnessie/quarkus/cli/CheckContent.java
  servers/quarkus-common/src/main/java/org/projectnessie/quarkus/config/QuarkusVersionStoreAdvancedConfig.java
  servers/store/src/main/java/org/projectnessie/server/store/BaseSerializer.java
  servers/store/src/test/java/org/projectnessie/server/store/TestStoreWorker.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/AdjustableDatabaseAdapterConfig.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/CommitParams.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/DatabaseAdapter.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/DatabaseAdapterConfig.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/TracingDatabaseAdapter.java
  versioned/persist/dynamodb/src/main/java/org/projectnessie/versioned/persist/dynamodb/DynamoDatabaseAdapter.java
  versioned/persist/dynamodb/src/main/java/org/projectnessie/versioned/persist/dynamodb/Tables.java
  versioned/persist/inmem/src/main/java/org/projectnessie/versioned/persist/inmem/InmemoryDatabaseAdapter.java
  versioned/persist/inmem/src/main/java/org/projectnessie/versioned/persist/inmem/InmemoryStore.java
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoDatabaseAdapter.java
  versioned/persist/mongodb/src/main/java/org/projectnessie/versioned/persist/mongodb/MongoDatabaseClient.java
  versioned/persist/nontx/src/main/java/org/projectnessie/versioned/persist/nontx/NonTransactionalDatabaseAdapter.java
  versioned/persist/rocks/src/main/java/org/projectnessie/versioned/persist/rocks/RocksDatabaseAdapter.java
  versioned/persist/rocks/src/main/java/org/projectnessie/versioned/persist/rocks/RocksDbInstance.java
  versioned/persist/serialize-proto/src/main/proto/org/projectnessie/versioned/persist/serialize/persist.proto
  versioned/persist/serialize/src/main/java/org/projectnessie/versioned/persist/adapter/serialize/ProtoSerialization.java
  versioned/persist/serialize/src/test/java/org/projectnessie/versioned/persist/adapter/serialize/TestSerialization.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitLogScan.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitScenarios.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractConcurrency.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractContentAttachments.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDatabaseAdapterTest.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractDiff.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractEvents.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyCommits.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractManyKeys.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractMergeTransplant.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractRefLog.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractReferences.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/DatabaseAdapterTestUtils.java
  versioned/persist/tx/src/main/java/org/projectnessie/versioned/persist/tx/SqlStatements.java
  versioned/persist/tx/src/main/java/org/projectnessie/versioned/persist/tx/TxDatabaseAdapter.java
  versioned/spi/src/main/java/org/projectnessie/versioned/ContentAttachment.java
  versioned/spi/src/main/java/org/projectnessie/versioned/ContentAttachmentKey.java
  versioned/spi/src/main/java/org/projectnessie/versioned/StoreWorker.java
  versioned/spi/src/main/java/org/projectnessie/versioned/store/ContentSerializer.java
  versioned/spi/src/main/java/org/projectnessie/versioned/store/DefaultStoreWorker.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/ContentMapping.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/OnRefOnlySerializer.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/TestContentSerializer.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/TestContentSerializerBundle.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/TestContentTypeBundle.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/WithAttachmentsContent.java
  versioned/tests/src/main/java/org/projectnessie/versioned/testworker/WithAttachmentsSerializer.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/BatchWriter.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/ExportDatabaseAdapter.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/ExportPersist.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/ImportDatabaseAdapter.java
  versioned/transfer/src/main/java/org/projectnessie/versioned/transfer/ImportPersistCommon.java
  versioned/transfer/src/testFixtures/java/org/projectnessie/versioned/transfer/AbstractExportImport.java
  versioned/transfer/src/testFixtures/java/org/projectnessie/versioned/transfer/AbstractITCommitLogOptimization.java
Labels: pr-native

#6423 Disable testcontainers startup checks
  .github/actions/dev-tool-java/action.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6437 Cleanup/build: Remove no longer used Gradle configuration
  servers/quarkus-cli/build.gradle.kts
  servers/quarkus-server/build.gradle.kts
Labels: pr-native

#6438 Remove the need to pass `Put.expectedContent()`
  api/client/src/main/java/org/projectnessie/client/util/v2api/ClientSideUpdateNamespace.java
  api/model/src/main/java/org/projectnessie/model/Operation.java
  gc/gc-iceberg/src/main/java/org/projectnessie/gc/iceberg/IcebergContentToFiles.java
  integrations/deltalake/src/main/scala/org/projectnessie/deltalake/NessieLogStore.scala
  integrations/iceberg-views/src/main/java/org/apache/iceberg/nessie/NessieViewOperations.java
  perftest/simulations/src/gatling/scala/org/projectnessie/perftest/gatling/CommitToBranchSimulation.scala
  perftest/simulations/src/gatling/scala/org/projectnessie/perftest/gatling/KeyListSpillingSimulation.scala
  perftest/simulations/src/gatling/scala/org/projectnessie/perftest/gatling/MixedWorkloadsSimulation.scala
  servers/services/src/main/java/org/projectnessie/services/impl/NamespaceApiImpl.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestCommitLog.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestCommits.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestMergeTransplant.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/BaseTestServiceImpl.java
  tools/content-generator/src/main/java/org/projectnessie/tools/contentgenerator/cli/GenerateContent.java
  tools/content-generator/src/main/java/org/projectnessie/tools/contentgenerator/cli/RefreshContent.java
  versioned/persist/bench/src/main/java/org/projectnessie/versioned/persist/benchmarks/CommitBench.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
  versioned/persist/tests/src/main/java/org/projectnessie/versioned/persist/tests/AbstractCommitScenarios.java
  versioned/spi/src/main/java/org/projectnessie/versioned/Delete.java
  versioned/spi/src/main/java/org/projectnessie/versioned/Put.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/CommitImpl.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractCommitLog.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractCommits.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractDiff.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractMerge.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractNestedVersionStore.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractSingleBranch.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractTransplant.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/CommitBuilder.java
Labels: pr-native, pr-integrations
