Repository projectnessie/nessie, pull requests merged in 2023-04, with the labels that each got.

#6470 Do not let Weld register a shutdown hook
  compatibility/jersey/src/main/java/org/projectnessie/tools/compatibility/jersey/JerseyServer.java
  servers/jax-rs-testextension/src/main/java/org/projectnessie/jaxrs/ext/NessieJaxRsExtension.java
Labels: pr-native

#6461 Refactor CI workflow - bring back reasonable CI runtime
  .github/actions/ci-incr-build-cache-prepare/action.yml
  .github/actions/ci-incr-build-cache-save/action.yml
  .github/actions/ci-results/action.yml
  .github/workflows/check-results-upload.yml
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/newer-java.yml
  .github/workflows/pull-request-docker.yml
  .github/workflows/pull-request-helm.yml
  .github/workflows/pull-request-integ.yml
  .github/workflows/pull-request-native.yml
  .github/workflows/pull-request.yml
  .github/workflows/site.yml
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/ListChilrProjectsTask.kt
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6454 WF: No more need to schedule contaner-registry sync
  .github/workflows/container-sync.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6479 Remove concurrent test case execution per class
  api/client/src/test/java/org/projectnessie/client/TestResultStreamPaginator.java
  api/client/src/test/java/org/projectnessie/client/auth/TestBasicAuthProvider.java
  api/client/src/test/java/org/projectnessie/client/auth/TestBearerAuthenticationProvider.java
  api/client/src/test/java/org/projectnessie/client/auth/TestNoneAuthProvider.java
  api/client/src/test/java/org/projectnessie/client/http/TestHttpClient.java
  api/client/src/test/java/org/projectnessie/client/http/TestHttpClientBuilder.java
  api/client/src/test/java/org/projectnessie/client/http/impl/TestHttpHeaders.java
  api/client/src/test/java/org/projectnessie/client/http/impl/TestUriBuilder.java
  api/client/src/test/java/org/projectnessie/client/rest/TestResponseFilter.java
  api/model/src/test/java/org/projectnessie/api/v1/params/CommitLogParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/DiffParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/EntriesParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/GetReferenceParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/MultipleNamespacesParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/NamespaceParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/RefLogParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/ReferencesParamsTest.java
  api/model/src/test/java/org/projectnessie/api/v1/params/TestParamObjectsSerialization.java
  api/model/src/test/java/org/projectnessie/api/v2/params/TestParamObjectsSerialization.java
  api/model/src/test/java/org/projectnessie/error/TestErrorCode.java
  api/model/src/test/java/org/projectnessie/error/TestNessieError.java
  api/model/src/test/java/org/projectnessie/model/TestCommitMetaSerde.java
  api/model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  api/model/src/test/java/org/projectnessie/model/TestTableReference.java
  api/model/src/test/java/org/projectnessie/model/TestValidation.java
  servers/services/src/test/java/org/projectnessie/services/authz/TestBatchAccessChecker.java
  servers/services/src/test/java/org/projectnessie/services/impl/TestNamespaceApi.java
  servers/services/src/test/java/org/projectnessie/services/impl/TestRefUtil.java
  servers/services/src/test/java/org/projectnessie/services/impl/TestStreamUtil.java
Labels: pr-native, pr-integrations

#6487 Test code: Refactor `Json` to `JsonNode` in tests
  api/model/src/test/java/org/projectnessie/api/v1/params/TestParamObjectsSerialization.java
  api/model/src/test/java/org/projectnessie/api/v2/params/TestParamObjectsSerialization.java
  api/model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
Labels: pr-integrations

#6480 Add min-version + spec-version-bag to `NessieConfiguration`
  api/model/src/main/java/org/projectnessie/api/v1/http/HttpConfigApi.java
  api/model/src/main/java/org/projectnessie/model/NessieConfiguration.java
  api/model/src/main/java/org/projectnessie/model/NessieConfigurationHolder.java
  api/model/src/main/resources/META-INF/openapi.yaml
  api/model/src/main/resources/org/projectnessie/model/NessieConfiguration.json
  api/model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  api/model/src/test/java/org/projectnessie/model/TestNessieConfiguration.java
  servers/services/src/main/java/org/projectnessie/services/impl/ConfigApiImpl.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestMisc.java
Labels: pr-native, pr-integrations

#6498 Add `@JsonView` to HttpConfigApi v2
  api/model/src/main/java/org/projectnessie/api/v2/http/HttpConfigApi.java
Labels: pr-integrations

#6500 Revert "Update smartbear/swaggerhub-cli action to v0.7.0 (#6478)"
  .github/workflows/release-publish.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6504 Revert slf4j2 bump
  api/client/build.gradle.kts
  compatibility/common/build.gradle.kts
  gc/gc-base/build.gradle.kts
  gc/gc-iceberg-files/build.gradle.kts
  gc/gc-iceberg-inttest/build.gradle.kts
  gc/gc-iceberg-mock/build.gradle.kts
  gc/gc-iceberg/build.gradle.kts
  gc/gc-repository-jdbc/build.gradle.kts
  gc/gc-tool-inttest/build.gradle.kts
  gc/gc-tool/build.gradle.kts
  gradle/libs.versions.toml
  integrations/deltalake/build.gradle.kts
  integrations/spark-extensions/build.gradle.kts
  testing/s3minio/build.gradle.kts
  testing/s3mock/build.gradle.kts
  versioned/persist/dynamodb/build.gradle.kts
  versioned/persist/mongodb/build.gradle.kts
  versioned/persist/rocks/build.gradle.kts
  versioned/persist/tx/build.gradle.kts
  versioned/storage/common-tests/build.gradle.kts
Labels: pr-integrations

#6492 Enhance `NessieError` with error details
  api/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  api/client/src/main/java/org/projectnessie/client/http/HttpRequest.java
  api/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  api/client/src/main/java/org/projectnessie/client/http/impl/HttpRuntimeConfig.java
  api/client/src/main/java/org/projectnessie/client/rest/NessieHttpResponseFilter.java
  api/client/src/main/java/org/projectnessie/client/rest/ResponseCheckFilter.java
  api/client/src/test/java/org/projectnessie/client/rest/TestResponseFilter.java
  api/model/src/main/java/org/projectnessie/error/ErrorCodeAware.java
  api/model/src/main/java/org/projectnessie/error/NessieError.java
  api/model/src/main/java/org/projectnessie/error/NessieReferenceConflictException.java
  api/model/src/main/java/org/projectnessie/model/Conflict.java
  api/model/src/main/java/org/projectnessie/model/NessieErrorDetails.java
  api/model/src/main/java/org/projectnessie/model/ReferenceConflicts.java
  api/model/src/main/java/org/projectnessie/model/Util.java
  api/model/src/test/java/org/projectnessie/error/TestNessieError.java
  api/model/src/test/java/org/projectnessie/model/TestModelObjectsSerialization.java
  servers/quarkus-server/src/test/java/org/projectnessie/server/error/TestNessieError.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestCommon.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjakarta/BaseExceptionMapper.java
  servers/rest-services/src/main/java/org/projectnessie/services/restjavax/BaseExceptionMapper.java
Labels: pr-native, pr-integrations

#6503 Populate reference conflict details
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieApi.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieRest.java
  servers/services/src/main/java/org/projectnessie/services/impl/TreeApiImpl.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestMergeTransplant.java
  servers/services/src/testFixtures/java/org/projectnessie/services/impl/AbstractTestNamespace.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/AbstractDatabaseAdapter.java
  versioned/persist/adapter/src/main/java/org/projectnessie/versioned/persist/adapter/spi/DatabaseAdapterUtil.java
  versioned/persist/inmem/build.gradle.kts
  versioned/spi/src/main/java/org/projectnessie/versioned/MergeConflictException.java
  versioned/spi/src/main/java/org/projectnessie/versioned/ReferenceConflictException.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/BaseCommitHelper.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/CommitImpl.java
  versioned/storage/store/src/main/java/org/projectnessie/versioned/storage/versionstore/RefMapping.java
  versioned/storage/store/src/test/java/org/projectnessie/versioned/storage/versionstore/TestRefMapping.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractCommits.java
  versioned/tests/src/main/java/org/projectnessie/versioned/tests/AbstractNamespaceValidation.java
Labels: pr-native

#6506 Fix specVersion to comply with semver syntax
  api/model/src/main/resources/org/projectnessie/model/NessieConfiguration.json
Labels: pr-integrations

#6511 Fix `nessie-gc` publication
  .github/workflows/release-publish.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6515 CI: Cache everything that's needed
  .github/actions/ci-incr-build-cache-prepare/action.yml
  .github/actions/ci-incr-build-cache-save/action.yml
  .github/workflows/ci.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6520 CI: finally the correct artifacts
  .github/actions/ci-incr-build-cache-prepare/action.yml
  .github/actions/ci-incr-build-cache-save/action.yml
  .github/workflows/ci.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6481 CI-Workflow updates
  .github/workflows/ci.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6551 CI: Un-bump latest Java from 20 to 19 (#359)
  .github/workflows/newer-java.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6525 Build: use Smallrye-OpenAPI-Plugin from Gradle plugins
  api/model/build.gradle.kts
  gradle/libs.versions.toml
Labels: pr-integrations

#6559 CI: Skip Helm CI, if version is not available (fix)
  .github/workflows/ci.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6565 Align Quarkus dependencies
  gradle/libs.versions.toml
  servers/quarkus-common/build.gradle.kts
  servers/quarkus-server/build.gradle.kts
Labels: pr-native

#6572 CI: Remove `CI Success` job
  .github/workflows/ci.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6516 Gradle: eliminate some more `doFirst`/`doLast` script references
  buildSrc/src/main/kotlin/Testing.kt
  buildSrc/src/main/kotlin/Utilities.kt
  gc/gc-iceberg-files/build.gradle.kts
  gc/gc-iceberg-inttest/build.gradle.kts
  integrations/spark-antlr-grammar/build.gradle.kts
  integrations/spark-antlr-grammar/src/main/antlr4/org/apache/spark/sql/catalyst/parser/extensions/NessieSqlExtensions.g4
  servers/store-proto/build.gradle.kts
  ui/build.gradle.kts
  versioned/persist/serialize-proto/build.gradle.kts
  versioned/storage/common-proto/build.gradle.kts
  versioned/transfer-proto/build.gradle.kts
Labels: pr-native, pr-integrations

#6582 CI: Use Java 20 in "newer-java"
  .github/workflows/newer-java.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6577 CI: Replace auto-labeler with changed-files checks
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pull-request-labeler.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6583 Remove direct use of hamcrest
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieRest.java
Labels: pr-native

#6527 OAuth2 authentication provider for Nessie client
  api/client/build.gradle.kts
  api/client/src/intTest/java/org/projectnessie/client/auth/oauth2/ITOAuth2Client.java
  api/client/src/main/java/org/projectnessie/client/NessieConfigConstants.java
  api/client/src/main/java/org/projectnessie/client/auth/NessieAuthentication.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/AccessToken.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/ClientCredentialsTokensRequest.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/ClientCredentialsTokensResponse.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/ErrorResponse.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/JacksonSerializers.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/JwtToken.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/OAuth2AuthenticationProvider.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/OAuth2Authenticator.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/OAuth2Client.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/OAuth2ClientParams.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/OAuth2Exception.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/PasswordTokensRequest.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/PasswordTokensResponse.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/RefreshToken.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/RefreshTokensRequest.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/RefreshTokensResponse.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/Token.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/TokenTypeIdentifiers.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/Tokens.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/TokensExchangeRequest.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/TokensExchangeResponse.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/TokensRequestBase.java
  api/client/src/main/java/org/projectnessie/client/auth/oauth2/TokensResponseBase.java
  api/client/src/main/java/org/projectnessie/client/http/HttpClient.java
  api/client/src/main/java/org/projectnessie/client/http/HttpClientBuilder.java
  api/client/src/main/java/org/projectnessie/client/http/HttpRequest.java
  api/client/src/main/java/org/projectnessie/client/http/NessieHttpClient.java
  api/client/src/main/java/org/projectnessie/client/http/RequestContext.java
  api/client/src/main/java/org/projectnessie/client/http/impl/BaseHttpRequest.java
  api/client/src/main/java/org/projectnessie/client/http/impl/HttpHeaders.java
  api/client/src/main/java/org/projectnessie/client/http/impl/HttpRuntimeConfig.java
  api/client/src/main/java/org/projectnessie/client/http/impl/RequestContextImpl.java
  api/client/src/main/java/org/projectnessie/client/http/impl/jdk11/JavaHttpClient.java
  api/client/src/main/java/org/projectnessie/client/http/impl/jdk8/UrlConnectionClient.java
  api/client/src/main/java/org/projectnessie/client/http/v2api/HttpApiV2.java
  api/client/src/main/resources/META-INF/services/org.projectnessie.client.auth.NessieAuthenticationProvider
  api/client/src/test/java/org/projectnessie/client/auth/TestAwsAuthProvider.java
  api/client/src/test/java/org/projectnessie/client/auth/TestBasicAuthProvider.java
  api/client/src/test/java/org/projectnessie/client/auth/TestBearerAuthenticationProvider.java
  api/client/src/test/java/org/projectnessie/client/auth/oauth2/TestJacksonSerializers.java
  api/client/src/test/java/org/projectnessie/client/auth/oauth2/TestJwtToken.java
  api/client/src/test/java/org/projectnessie/client/auth/oauth2/TestOAuth2AuthenticationProvider.java
  api/client/src/test/java/org/projectnessie/client/auth/oauth2/TestOAuth2Client.java
  api/client/src/test/java/org/projectnessie/client/auth/oauth2/TestOAuth2ClientParams.java
  api/client/src/test/java/org/projectnessie/client/auth/oauth2/TestOAuth2Exception.java
  api/client/src/test/java/org/projectnessie/client/http/TestHttpClient.java
  api/client/src/test/java/org/projectnessie/client/http/TestHttpClientBuilder.java
  api/client/src/test/java/org/projectnessie/client/http/TestNessieHttpClient.java
  api/client/src/test/java/org/projectnessie/client/http/impl/TestHttpHeaders.java
  api/client/src/test/java/org/projectnessie/client/util/HttpTestUtil.java
  gradle/libs.versions.toml
Labels: pr-integrations

#6615 Disable IT-Auth on WIn/Mac CI
  api/client/build.gradle.kts
Labels: pr-macos-win
