Repository projectnessie/nessie, pull requests merged in 2023-02, with the labels that each got.

#6003 CI: Helm testing
  .github/workflows/main.yml
  .github/workflows/pull-request-helm.yml
  .github/workflows/pull-request.yml
Labels: pr-helm

#6005 CI: fix helm-testing action refs
  .github/workflows/main.yml
  .github/workflows/pull-request-helm.yml
Labels: pr-helm

#6000 Add support for API v2 to the compatibility test framework
  clients/client/build.gradle.kts
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/api/Version.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/AbstractNessieApiHolder.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/CurrentNessieServer.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/NessieServer.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OldNessie.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OldNessieServer.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OlderNessieServersExtension.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/TranslatingVersionNessieApi.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/Util.java
  compatibility/common/src/test/java/org/projectnessie/tools/compatibility/internal/TestNessieServer.java
  compatibility/compatibility-tests/src/test/java/org/projectnessie/tools/compatibility/tests/AbstractCompatibilityTests.java
  compatibility/compatibility-tests/src/test/java/org/projectnessie/tools/compatibility/tests/ITUpgradePath.java
  compatibility/compatibility-tests/src/test/resources/META-INF/nessie-compatibility.properties
  compatibility/jersey/src/main/java/org/projectnessie/tools/compatibility/jersey/JerseyServer.java
Labels: pr-integrations

#6021 Expose definitive Nessie API version to tests
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientFactory.java
  clients/client-testextension/src/main/java/org/projectnessie/client/ext/NessieClientResolver.java
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieApi.java
Labels: pr-native, pr-integrations

#6020 Produce NessieBadRequestException when paging is not available
  servers/jax-rs-tests/src/main/java/org/projectnessie/jaxrs/tests/BaseTestNessieApi.java
  versioned/persist/store/src/main/java/org/projectnessie/versioned/persist/store/PersistVersionStore.java
Labels: pr-native, pr-integrations

#6055 Fix dependencies in :nessie-compatibility-common
  compatibility/common/build.gradle.kts
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/api/Version.java
  compatibility/common/src/main/java/org/projectnessie/tools/compatibility/internal/OldNessieServer.java
Labels: pr-integrations

#6067 Add Jakarta's ws-rs to `javax.ws.rs.*`
  model/src/main/java/org/projectnessie/api/v1/http/HttpConfigApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpContentApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpDiffApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpNamespaceApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpRefLogApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/v1/params/AbstractParams.java
  model/src/main/java/org/projectnessie/api/v1/params/CommitLogParams.java
  model/src/main/java/org/projectnessie/api/v1/params/DiffParams.java
  model/src/main/java/org/projectnessie/api/v1/params/EntriesParams.java
  model/src/main/java/org/projectnessie/api/v1/params/GetReferenceParams.java
  model/src/main/java/org/projectnessie/api/v1/params/MultipleNamespacesParams.java
  model/src/main/java/org/projectnessie/api/v1/params/NamespaceParams.java
  model/src/main/java/org/projectnessie/api/v1/params/RefLogParams.java
  model/src/main/java/org/projectnessie/api/v1/params/ReferencesParams.java
  model/src/main/java/org/projectnessie/api/v2/http/HttpConfigApi.java
  model/src/main/java/org/projectnessie/api/v2/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/v2/params/AbstractParams.java
  model/src/main/java/org/projectnessie/api/v2/params/CommitLogParams.java
  model/src/main/java/org/projectnessie/api/v2/params/DiffParams.java
  model/src/main/java/org/projectnessie/api/v2/params/EntriesParams.java
  model/src/main/java/org/projectnessie/api/v2/params/GetReferenceParams.java
  model/src/main/java/org/projectnessie/api/v2/params/ReferencesParams.java
  testing/s3mock/src/main/java/org/projectnessie/s3mock/S3Resource.java
Labels: pr-native, pr-integrations

#6107 Disable NPM tests on Windows
  ui/build.gradle.kts
Labels: pr-macos-win

#6106 Disable :nessie-compatibility-common tests on macOS
  compatibility/common/src/test/java/org/projectnessie/tools/compatibility/internal/TestNessieApiHolder.java
  compatibility/common/src/test/java/org/projectnessie/tools/compatibility/internal/TestNessieCompatibilityExtensions.java
  compatibility/common/src/test/java/org/projectnessie/tools/compatibility/internal/TestNessieServer.java
Labels: pr-macos-win

#6108 Fail test discovery in MultiEnvTestEngine if no environments are defined
  compatibility/common/src/test/java/org/projectnessie/tools/compatibility/internal/TestNessieCompatibilityExtensions.java
  testing/multi-env-test-engine/src/main/java/org/projectnessie/junit/engine/MultiEnvTestEngine.java
Labels: pr-integrations

#6113 Revert changes to Chart.yaml maintainers section
  helm/nessie/Chart.yaml
  helm/nessie/README.md
  helm/nessie/README.md.gotmpl
Labels: pr-helm

#6129 Fix typo in release notes
  .github/workflows/release-publish.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6127 GH workflow to smoke test Docker images
  .github/workflows/pull-request-docker.yml
  tools/dockerbuild/README.md
  tools/dockerbuild/build-push-images.sh
Labels: pr-docker

#6132 Label `model` changes with `pr-integrations`
  .github/labeler.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6131 Allow all GH WFs to become "required checks"
  .github/renovate.json5
  .github/workflows/pull-request-docker.yml
  .github/workflows/pull-request-helm.yml
  .github/workflows/pull-request-integ.yml
  .github/workflows/pull-request-native.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6143 Rename jobs for mac+win GH workflows
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker

#6148 Disable intTest using containers/podman for macOS CI
  servers/quarkus-cli/build.gradle.kts
  servers/quarkus-server/build.gradle.kts
  servers/services/build.gradle.kts
  versioned/persist/dynamodb/build.gradle.kts
  versioned/persist/mongodb/build.gradle.kts
  versioned/persist/tx/build.gradle.kts
Labels: pr-native, pr-macos-win

#6150 Add missing jakarta.* annotations
  model/src/main/java/org/projectnessie/api/v1/http/HttpConfigApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpContentApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpDiffApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpNamespaceApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpRefLogApi.java
  model/src/main/java/org/projectnessie/api/v1/http/HttpTreeApi.java
  model/src/main/java/org/projectnessie/api/v2/http/HttpConfigApi.java
  model/src/main/java/org/projectnessie/api/v2/http/HttpTreeApi.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestContentService.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestDiffService.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestNamespaceService.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestRefLogService.java
  servers/rest-services/src/main/java/org/projectnessie/services/rest/RestTreeService.java
  testing/s3mock/src/main/java/org/projectnessie/s3mock/S3Resource.java
Labels: pr-native, pr-integrations

#6152 mac-os/win CI - add retry for steps that regularly timeout/hang
  .github/workflows/ci-mac.yml
  .github/workflows/ci-win.yml
Labels: pr-native, pr-integrations, pr-macos-win, pr-helm, pr-docker

#6155 Minor fixes to the build-push-images.sh script
  tools/dockerbuild/build-push-images.sh
Labels: pr-docker

#6158 Fix console log level setting in Helm charts
  helm/nessie/templates/deployment.yaml
Labels: pr-helm

#6149 Remove rocksdb.dbPath from Helm chart values
  helm/nessie/templates/deployment.yaml
  helm/nessie/values.yaml
  site/docs/try/configuration.md
Labels: pr-helm

#6164 Disable versioned-transfer ITs in macOS CI
  versioned/transfer/build.gradle.kts
Labels: pr-macos-win

#6159 Refactor advanced configuration
  helm/nessie/README.md
  helm/nessie/templates/deployment.yaml
  helm/nessie/values.yaml
Labels: pr-helm

#6172 Strip jakarta.* annotations for Java 8
  clients/client/build.gradle.kts
  gradle/libs.versions.toml
  model/build.gradle.kts
  servers/jax-rs/build.gradle.kts
  servers/rest-services/build.gradle.kts
  servers/services/build.gradle.kts
  servers/store/build.gradle.kts
Labels: pr-native, pr-integrations, pr-docker

#6184 mac-CI: Workaround for brew-upgrade issue
  .github/workflows/ci-mac.yml
Labels: pr-native, pr-integrations, pr-macos-win, pr-helm, pr-docker

#6166 Gradle 8 adoption for NesQuEIT
  .github/workflows/pull-request-integ.yml
Labels: pr-native, pr-integrations, pr-helm, pr-docker
